{% extends "base.html" %}
{% block content %}
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a href="https://jamie120.github.io/ms1_d_r_plastering/index.html" target="_blank">
            <h2 class="post-title">
              D R Plastering Services - Website
            </h2>
            <h3 class="post-subtitle">
              A multi-page services website, created using only HTML and CSS.
            </h3>
            </a>
            <p class="post-meta">Created as part of Sofware Developer Diploma with Code Institute - Milestone Project 1
            November, 2020</p>
            <a href="https://github.com/jamie120/ms1_d_r_plastering" target="_blank">View Github Repository</a>
            <hr>
            <a href="https://jamie120.github.io/ms1_d_r_plastering/index.html" target="_blank">View Live Site</a>
        </div>
        <hr>
        <div class="post-preview">
          <a href="jamie120.github.io/ms2-soma-post-production-services/" target="_blank">
            <h2 class="post-title">
              SOMA Post Production Audio Services - Website
            </h2>
            <h3 class="post-subtitle">
              An interactive multi-page services website, created using HTML, CSS & JavaScript.
            </h3>
            </a>
            <p class="post-meta">Created as part of Sofware Developer Diploma with Code Institute - Milestone Project 2
            November, 2020</p>
            <a href="https://github.com/jamie120/MS2-Soma-Post-Production-Services" target="_blank">View Github Repository</a>
            <hr>
            <a href="jamie120.github.io/ms2-soma-post-production-services/" target="_blank">View Live Site</a>
        </div>
        <hr>
        
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
{% endblock %}